

.app__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.app__art--pokeball,
.app__art--pokemon {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-30deg);
}

.app__art--pokeball {
  top: -60px;
  left: -75px;
  width: 300px;
  height: 300px;
  background-image: url("../assets/images/pokeball.png");
}

.app__art--pokemon {
  bottom: -155px;
  right: -65px;
  width: 375px;
  height: 375px;
  background-image: url("../assets/images/pokemon.png");
}

.app__loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 5px 5px 0 black;
}